﻿html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form > button.icon-link, button.delete-post-btn {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
}

    form > button.icon-link > ion-icon, 
        button.delete-post-btn > ion-icon {
        margin-right: 8px;
    }
